.savednews__header {
  min-height: 374px;
}

.savednews__caption {
  padding: 40px 104px 56px;
  text-align: left;
}

.savednews__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  /* identical to box height, or 133% */

  color: rgba(26, 27, 34, 0.5);
  margin: 0;
}

.savednews__greeting {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;

  /* or 115% */

  /* main/primary */
  color: #1a1b22;

  max-width: 530px;

  margin: 28px 0 30px;
}

.savednews__keywords {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  /* identical to box height, or 133% */

  color: #1a1b22;
  margin: 0;
}

.savednews__keyword {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
