.about {
  display: flex;
  padding: 80px 104px;
}

.about__photo {
  margin-right: 56px;
}

.about__photo-img {
  border-radius: 50%;
  object-fit: cover;
  width: 464px;
  height: 464px;
}

.about__info {
  width: 600px;
}

.about__title {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;

  /* identical to box height, or 115% */

  /* main/primary */
  color: #1a1b22;

  text-align: left;
}

.about__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  /* or 133% */

  color: #1a1b22;
  text-align: left;
}
