.navigation {
  list-style-type: none;
  display: flex;
  align-items: center;

  margin: 0px;
}

.navigation__item {
  margin-left: 1vw;
}

.navigation__link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  /* or 133% */

  /* main/primary */
  text-decoration: none;
  color: #1a1b22;
}

@media screen and (max-width: 400px) {
  .navigation {
    flex-flow: row wrap-reverse;
    padding: 0;
    justify-content: flex-end;
  }

  .navigation__item {
    margin: 0 10px;
  }
}
