@import url('../../vendor/fonts/roboto-slab.css');
@import url('../../vendor/fonts/roboto.css');

.header {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  height: 80px;

  /* background: #ffffff; */
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

.header_color_white {
  color: #fff;
}

.header__logo {
  display: flex;

  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  cursor: pointer;
}

.header__bar {
  display: flex;
  align-items: center;
  height: 100%;
  color: inherit;
}

.header__button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 48px;

  border-radius: 100px;
  background: none;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  padding: 0 15px;
  color: inherit;
}

.header__button:hover {
  cursor: pointer;
}

.header__button:focus {
  outline: none;
}

.header__button-icon {
  padding-left: 10px;
}

.header__button_color_white > svg > path {
  fill: #fff;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  height: 100%;
}

.menu__item {
  list-style: none;
  margin-right: 32px;
  display: flex;
  align-items: center;
  height: 100%;
}

.menu__link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;

  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 3px solid rgba(209, 210, 214, 0);
}

.menu__link:hover {
  border-bottom-color: #d1d2d6;
}

.menu__link_active_black {
  border-bottom-color: #1a1b22;
}

.menu__link_active_black:hover {
  border-bottom-color: #1a1b22;
  cursor: default;
}

.menu__link_active_white {
  border-bottom-color: #fff;
}

.menu__link_active_white:hover {
  border-bottom-color: #fff;
  cursor: default;
}
