.news-card-list {
  /* background-color: #f5f6f7; */
  padding: 80px 40px;
  margin: 0 auto;
  box-sizing: border-box;
  display: none;

  width: 100%;

  max-width: 1312px;
}

.news-card-list_visible {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-card-list__title {
  margin: 0 0 64px;

  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  text-align: left;

  align-self: flex-start;

  /* identical to box height, or 115% */

  /* main/primary */
  color: #1a1b22;
}

.news-card-list__items {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, minmax(224px, 1fr));
  grid-auto-flow: dense;
  gap: 16px;

  width: 100%;
  justify-content: center;
}

.news-card-list__button {
  margin: 64px 0 0;
  background: #ffffff;
  border-radius: 80px;
  border-style: none;

  padding: 20px 84px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  color: #1a1b22;
}

@media screen and (max-width: 1024px) {
  .news-card-list__items {
    gap: 8px;
  }
}

@media screen and (max-width: 767px) {
  .news-card-list__items {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  }
}

@media screen and (max-width: 550px) {
  .news-card-list {
    padding: 32px 16px;
  }

  .news-card-list__title {
    margin: 0 0 24px;
  }
}
